# IMPORTANT: change this
SECRET_KEY='change-me-sa23sdas618321'

# ─── Core settings ─────────────────────────────────────────────────────────
# Most of these settings can be left blank for local development.
# settings/staging.py and settings/production.py will override these as well.
# Special circumstances may require you to set these explicitly.

# ALLOWED_HOSTS=localhost,127.0.0.1
TIME_ZONE=UTC

DEBUG=True

# ─── DATABASES ─────────────────────────────────────────────────────────────────
DJANGO_DATABASE_HOST=localhost
# DJANGO_DATABASE_NAME=
# DJANGO_DATABASE_USER=
# DJANGO_DATABASE_PASSWORD=
# DJANGO_DATABASE_PORT=
